# Python
__pycache__/
*.py[cod]
*$py.class
*.egg-info/
.venv/
venv/
env/
.Python

# Base de datos local
*.db
*.sqlite
*.sqlite3

# Node
node_modules/
dist/
.vite/
*.log
npm-debug.log*

# Editor / SO
.vscode/
.idea/
.DS_Store
Thumbs.db

# Variables de entorno
.env
.env.local
